name: Weekly packing dictionaries and grammar modules

on:
  workflow_dispatch:
  schedule:
    - cron: "25 23 * * 5"

jobs:
  format-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      RLTAG: weekly-dicts

    steps:
      - name: Format new release
        uses: andelf/nightly-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.RLTAG }}
          name: "每周词典更新"
          body: |
            - `dicts-rime-terra.zip`：来自地球拼音的最新词库文件
            - `dicts-rime-snow.zip`：来自冰雪拼音的最新词库文件
            - `dicts-rime-lmdg.zip`：来自 rime-lmdg 的最新词库文件
            - `dicts-rime-cantonese.zip`：来自 RIME 粤拼的最新词库文件
            - `grammar-default.zip`：来自 RIME 官方的精简版语法模型
            - `grammar-v2n3.zip`：来自 rime-lmdg 的公共版语法模型
            - `grammar-lmdg.zip`：来自 rime-lmdg 的搭配 lmdg 词库使用语法模型
          prerelease: true

  download-terra:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: format-release
    env:
      RLTAG: weekly-dicts
      DICTN: dicts-rime-terra

    steps:
      - name: Download rime-terra
        uses: actions/checkout@v6
        with:
          repository: 'rime/rime-terra-pinyin'
          path: terra

      - name: Download rime-essay
        uses: actions/checkout@v6
        with:
          repository: 'rime/rime-essay'
          path: essay

      - name: Pack-up dictionary
        run: |
          mv ./terra/terra_pinyin.dict.yaml ./
          mv ./essay/essay.txt ./
          zip -9vr ./${DICTN}.zip ./terra_pinyin.dict.yaml ./essay.txt

      - name: Upload dict
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./${{ env.DICTN }}.zip
          tag: ${{ env.RLTAG }}
          file_glob: true

  download-snow:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: format-release
    env:
      RLTAG: weekly-dicts
      DICTN: dicts-rime-snow

    steps:
      - name: Download rime-snow
        uses: actions/checkout@v6
        with:
          repository: 'rimeinn/rime-snow-pinyin'

      - name: Pack-up dictionary
        run: |
          zip -9vr ./${DICTN}.zip ./snow_pinyin*dict.yaml

      - name: Upload dict
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./${{ env.DICTN }}.zip
          tag: ${{ env.RLTAG }}
          file_glob: true

  download-lmdg:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: format-release
    env:
      RLTAG: weekly-dicts
      DICTN: dicts-rime-lmdg

    steps:
      - name: Retrieve script
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Repack Dictionary
        run: |
          curl -L -O -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://github.com/amzxyz/RIME-LMDG/releases/download/dict-nightly/dicts.zip"
          unzip dicts.zip
          python ./.irdeaf/scripts/rename-lmdg-dict.py
          zip -9vr ./${DICTN}.zip ./dnt.l.*.dict.yaml

      - name: Upload dict
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./${{ env.DICTN }}.zip
          tag: ${{ env.RLTAG }}
          file_glob: true

  download-cantonese:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: format-release
    env:
      RLTAG: weekly-dicts
      DICTN: dicts-rime-cantonese

    steps:
      - name: Download rime-catonese
        uses: actions/checkout@v6
        with:
          repository: 'rime/rime-cantonese'

      - name: Pack-up dictionary
        run: |
          zip -9vr ./${DICTN}.zip ./jyut6ping3*dict.yaml ./essay-cantonese.txt

      - name: Upload dict
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./${{ env.DICTN }}.zip
          tag: ${{ env.RLTAG }}
          file_glob: true

  download-grammars:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: format-release
    env:
      RLTAG: weekly-dicts

    steps:
      - name: Pack up RIME grammar
        run: |
          curl -L -O -R -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://github.com/lotem/rime-octagram-data/raw/refs/heads/hant/zh-hant-t-essay-bgc.gram"
          curl -L -O -R -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://github.com/lotem/rime-octagram-data/raw/refs/heads/hant/zh-hant-t-essay-bgw.gram"
          curl -L -O -R -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://github.com/lotem/rime-octagram-data/raw/refs/heads/hant/zh-hans-t-essay-bgc.gram"
          curl -L -O -R -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://github.com/lotem/rime-octagram-data/raw/refs/heads/hant/zh-hans-t-essay-bgw.gram"
          zip -9vr ./grammar-default.zip ./zh-han*.gram

      - name: Pack up lmdg public grammar
        run: |
          curl -L -O -R -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://github.com/amzxyz/RIME-LMDG/releases/download/v2n3/amz-v2n3m1-zh-hans.gram"
          zip -9vr ./grammar-v2n3.zip ./amz-v2n3m1-zh-hans.gram

      - name: Pack up lmdg grammar
        run: |
          curl -L -O -R -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://github.com/amzxyz/RIME-LMDG/releases/download/LTS/wanxiang-lts-zh-hans.gram"
          zip -9vr ./grammar-lmdg.zip ./wanxiang-lts-zh-hans.gram

      - name: Upload grammar
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./*.zip
          tag: ${{ env.RLTAG }}
          file_glob: true
